﻿@{
	ViewBag.Title = "IFrame Tester";
}

<div class="row">
	<div>
		<h2>Laptop with handoff</h2>
		<iframe
			name="dv_iframe"
			src="https://lt-lny0162.ad.davisvision.com/DavisVision.Member/Highmark/Authentication/MemberHandoff?GroupMember=2015&Group=H1Z&DestinationURL=Highmark/FindAProvider/Index"
			width="775" height="775" style="border: solid gray 1px" id="davisVisionFrame">
		</iframe>
		<h2>Production with handoff</h2>
		<iframe
			name="dv_iframe"
			src="https://idoc.davisvision.com/DavisVision.Member/Highmark/Authentication/MemberHandoff?GroupMember=2015&Group=H1Z&DestinationURL=Highmark/FindAProvider/Index"
			width="775" height="775" style="border: solid gray 1px" id="davisVisionFrame">
		</iframe>
	</div>
</div>