﻿<h2>Search Page</h2>
<div class="exclusive-collection-search-dropdowns">
	<div class="row">
		<div class="col-sm-4 exclusive-collection-label">
			<label for="FrameCollection">Collection:</label>
		</div>
		<div class="col-sm-8">
			<select name="FrameCollection" id="FrameCollection" data-bind="value: SelectedFrameCollection">
				<option value="%" data-bind="visible: CollectionNameAll, html: CollectionNameAll">Select...</option>
				<option value="BLUE" data-bind="visible: CollectionNamePremier, html: CollectionNamePremier">Blue</option>
				<option value="RED" data-bind="visible: CollectionNameDesigner, html: CollectionNameDesigner">Red</option>
				<option value="YELLOW" data-bind="visible: CollectionNameFashion, html: CollectionNameFashion">Yellow</option>
				<option value="SAFETY" data-bind="visible: CollectionNameSafety, html: CollectionNameSafety">Safety</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 exclusive-collection-label">
			<label for="ColorSelection">Color:</label>
		</div>
		<div class="col-sm-8">
			<select name="ColorSelection" id="ColorSelection" data-bind="value: SelectedColorCollection">
				<option value="%" selected>Select...</option>
				<option value="BLACK">Black</option>
				<option value="WHITE">White</option>
				<option value="GRAY">Gray</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 exclusive-collection-label">
			<label for="MaterialSelection">Material:</label>
		</div>
		<div class="col-sm-8">
			<select name="MaterialSelection" id="MaterialSelection" data-bind="value: SelectedMaterialCollection">
				<option value="%" selected>Select...</option>
				<option value="plastic">Plastic</option>
				<option value="metal">Metal</option>
				<option value="semi">Semi-Rimless</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 exclusive-collection-label">
			<label for="GenderSelection">Gender:</label>
		</div>
		<div class="col-sm-8">
			<select name="GenderSelection" id="GenderSelection" data-bind="value: SelectedGenderCollection">
				<option value="%" selected>Select...</option>
				<option value="m">Men</option>
				<option value="w">Women</option>
				<option value="b">Boys</option>
				<option value="g">Girls</option>
			</select>
		</div>
	</div>
</div>
